:root{
    --color-1: #16423C; 
}


/*Login*/

.form-login{
    max-width: 800px;
    width: 100%;
    height: 98vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login form{
    display: flex;
    flex-direction: column;
    border: 1px green solid;
    background-color:  var(--color-1);
    text-align: center;
    color: #E9EFEC;
    height: 300px;  
    width: 70%;
}

.form-login form button{
    margin: auto;
    width: 150px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.form-login form button:hover{
    background-color: #16423C;
    border: 1px solid white;
    cursor: pointer;
    color: white
}

.form-login form .form-login-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}

.form-login form .form-login-elements label{
    width: 100%;
    font-size: 20px;
    gap: 10px;
    margin: auto;
}

.form-login form .form-login-elements .form-login-elements-nombre{
    display: flex;
    gap: 50px;
}

.form-login form .form-login-elements .form-login-elements-contraseña{
    display: flex;
    text-align: left;
    gap: 28.5px;
}

.form-login form .form-login-elements input{
    width: 150px;
    height: 4dvi;
    background-color: none;
    outline: none;
    font-size: 22px;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    max-height: 40px;
}

.form-login form .form-login-elements input:focus{
    background-color: var(--color-1);
    color: white;
}

