@import "./styles/components/navbar.css";
@import "./styles/pages/registro.css";
@import "./styles/pages/index.css";
@import "./styles/pages/store.css";

:root{
    --color-1: #16423C; 
    --font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #316640d7, #000000);
    user-select: none;
}


input{
    transition: all 0.2s ease-in-out;
    font-size: 30px;
    outline: none;
    font-weight: var(--font-weight);
}

input:focus{
    background-color: var(--color-1);
    color: white;
}

input[type="date"]{
    font-size: 20px;
}




