:root{
    --color-1: #16423C; 
    --font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input{
    transition: all 0.2s ease-in-out;
    font-size: 30px;
    outline: none;
    font-weight: var(--font-weight);
}

input:focus{
    background-color: var(--color-1);
    color: white;
}

input[type="date"]{
    font-size: 20px;
}


/*Login*/

.form-login{
    max-width: 800px;
    width: 100%;
    height: 98vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login form{
    display: flex;
    flex-direction: column;
    border: 1px green solid;
    background-color:  var(--color-1);
    text-align: center;
    color: #E9EFEC;
    height: 300px;  
    width: 70%;
}

.form-login form button{
    margin: auto;
    width: 150px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.form-login form button:hover{
    background-color: #16423C;
    border: 1px solid white;
    cursor: pointer;
    color: white
}

.form-login form .form-login-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}

.form-login form .form-login-elements label{
    width: 100%;
    font-size: 20px;
    gap: 10px;
    margin: auto;
}

.form-login form .form-login-elements .form-login-elements-nombre{
    display: flex;
    gap: 50px;
}

.form-login form .form-login-elements .form-login-elements-contraseña{
    display: flex;
    text-align: left;
    gap: 28.5px;
}

.form-login form .form-login-elements input{
    width: 150px;
    height: 4dvi;
    background-color: none;
    max-height: 40px;
}

/*Form registro*/
.form-registro{
    height: 100%;
    max-width: 80%;
    max-height: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #16423C;
}

.form-registro h1{
    font-size: 30px;
    color: white;
}

.form-registro button{
    width: 200px;
    height: 80px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
}

.form-registro button:hover{
    background-color: #16423C;
    border: 1px solid white;
    cursor: pointer;
    color: white
}

.form-registro-elements{
    width: 100%;
    max-width: 50%;
    min-width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;  
}

.form-registro-elements label{
    font-size: 25px;
    text-align: left;
    width: 80%;
    color: white;
}

.form-registro-elements input{
    height: 50px;
    display: flex;
    width: 100%;
}

/*NavBar*/

.navBar{
    width: 100%;
    height: 5%;
    background-color: #16423C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar img{
    width: 50px;
}

.navBar .navBar-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
}

.navBar .nav-logout-home a{
    text-decoration: none;
    color:  white;
}

.navBar .nav-logout-home button{
    background-color: red;
    outline: none;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.navBar .nav-logout-home button:hover{
    box-shadow: 0px 2px rgba(255, 255, 255, 0.206);
    background-color: var(--color-1);
    cursor: pointer;
}

.navBar .nav-logout-home button a{
    text-decoration: none;
    color:  rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
   
}

.navBar .navBar-elements .navBar-pages ul{
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.navBar .navBar-elements .navBar-pages ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}


