/*El estilo en de las categorias*/

.title{
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgb(79, 79, 79);
    text-transform: uppercase;
    line-height: 1.5;
    max-width: 500px;
}

.loading{
    margin-top: 200px;
    text-align: center;
    font-size: 44px;
    color: #ffffff;
    margin-bottom: 40px;
    animation: loading 2s infinite linear;
    animation-delay: 1s;
    @keyframes loading {
        0% { opacity: 0.5; }
        50% { opacity: 1; }
        100% { opacity: 0.5; }
    }

}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 100px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    
}

.product-list .producto{
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    color: #16423C;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.product-list .producto title {
    font-size: 18px;
    margin: 10px 0; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 10px rgb(79, 79, 79); 
    line-height: 1.5; 
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.product-list .producto:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.product-list .producto p{
    font-size: 24px;
}

.product-list .producto img{
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    margin-bottom: 10px;
    margin-top: 10px;

}

.product-list .producto .buttons{
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Alinea los botones de forma equidistante */
    align-items: end;
    margin-top: 20px;
    gap: 15px;
}

.product-list .producto .btn-more{
    background-color: #16423C;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.product-list .producto .btn-more:hover{
    background-color: #216f65;
    transition: background-color 0.3s ease-in-out;
}

.product-list .producto .btn-delete{
    background-color: #541818;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.product-list .producto .btn-delete:hover{
    background-color: #ac2525;
    transition: background-color 0.3s ease-in-out;
}

.cart-container{
    overflow: scroll;
    display: flex !important;
    flex-direction: column;
}

.cart-container .title{
    text-align: center;
    padding-left: 20px;
    padding-top: 30px;
}

/* Estilo general para cada item en el carrito */
.listCart {
    display: flex; /* Alinea los elementos en fila */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    padding: 10px; /* Espaciado interno */
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    margin-bottom: 10px; /* Separación entre items */
    gap: 15px; /* Espacio entre elementos dentro de listCart */
}

/* Estilo para el título del item */
.title-item {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0; /* Elimina margen por defecto */
    flex: 2; /* Ocupa más espacio que otros elementos */
}

/* Estilo para el precio del item */
.title-price {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
    flex: 1; /* Ocupa espacio moderado */
    text-align: right; /* Alineación a la derecha */
}

/* Estilo para la imagen */
.listCart img {
    width: 80px; /* Tamaño de la imagen */
    height: 80px; /* Tamaño de la imagen */
    object-fit: cover; /* Mantiene proporciones de imagen */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el botón de eliminar */
.btn-delete {
    padding: 5px 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.btn-delete:hover {
    background-color: #ff1f1f;
}


.cart-total{
    font-size: 1.2rem; /* Tamaño de fuente */
    color: #bdbdbd; /* Color del texto */
    margin: 0 0 10px 0;
}
